<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <meta charset="UTF-8"/>
    <title>Add an event</title>
</head>
<body>
<div class="container">


    <h1>Add a new Event!</h1>

    <form class="" th:action="@{/events/create}" method="POST" th:object="${event}">
        <div class="form-group">

            <label>Add an event:</label>
            <input th:field="*{title}"/>
            <br/>

            <label>Event Date</label>
            <input th:field="*{eventDate}"/>
            <br/>

            <label>Description</label>
            <textarea th:field="*{description}"/>
            <br/>

            <input class="btn btn-info" type="submit" value="Add Event"/>
        </div>
    </form>
    <form action="/fileupload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload a file!</label>
            <input id="file" name="file" type="file"/>
            <br/>
            <input type="submit" value="upload"/>
        </div>
    </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>