<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8"/>
    <title>Events</title>
</head>
<body>
<div th:replace="partials/navbar :: theNav"></div>
<div class="container-fluid">
    <h1>Edit an event</h1>
    <form th:action="@{'/events/' + *{id} + '/edit'}" method="POST" th:object="${event}">
        <div class="form-group">
            <label>Add an event:</label>
            <input class="form-control" th:field="*{title}"/>
        </div>

        <div class="form-group">
            <label>Which Location?</label>
            <input list="locations" th:name="locationId" class="form-control" />
            <datalist id="locations">
                <option th:value="${location.name}" th:each="location : ${locations}" th:text="${location.name}"></option>
            </datalist>
        </div>

        <div class="form-group">
            <label>Event Date</label>
            <input class="form-control" th:field="*{eventDate}"/>
        </div>

        <div class="form-group">
            <label>Typed Date</label>
            <input class="form-control" th:field="*{typedDate}"/>
        </div>

        <div class="form-group">
            <label>Event Time</label>
            <input class="form-control" th:field="*{eventTime}"/>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" th:field="*{description}"/>
        </div>
        <div class="form-group">
            <input class="btn btn-info form-control" type="submit" value="Edit Event"/>
        </div>
    </form>

    <form th:action="@{'/fileupload/' + ${event.id}}" method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Upload a file!</label>
            <input id="file" name="file" type="file"/>
            <br/>
            <input type="submit" value="upload"/>
        </div>
    </form>
</div>
</body>
<script
        th:src="@{https://code.jquery.com/jquery-3.1.1.js}"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmBSAkIIH8tytXlTJaKTtwj488S7eVCZs&amp;libraries=places"></script>
<script th:src="@{/main.js}"></script>
<script th:src="@{/wow.min.js}"></script>
<script>new WOW().init();</script>
</html>