<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

    <meta charset="UTF-8"/>
    <title>Events</title>
</head>
<body>
<div class="container">
    <h1>Edit an event</h1>
    <form th:action="@{'/events/' + *{id} + '/edit'}" method="POST" th:object="${event}">
        <div class="form-group">
            <label>Add an event:</label>
            <input class="form-control" th:field="*{title}"/>
        </div>
        <div class="form-control">
            <label>Event Date</label>
            <input class="form-control" th:field="*{eventDate}"/>
        </div>
        <div class="form-control">
            <label>Description</label>
            <textarea class="form-control" th:field="*{description}"/>
        </div>
        <div class="form-control">
            <input class="btn btn-info form-control" type="submit" value="Add Event"/>
        </div>
    </form>
    <form th:action="@{'/fileupload/' + ${event.id}}" method="post" enctype="multipart/form-data">
        <label for="file">Upload a file!</label>
        <input id="file" name="file" type="file"/>
        <br/>
        <input type="submit" value="upload"/>
    </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>