<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/header :: theHead">

    <meta charset="UTF-8"/>
    <title>Events Details</title>

</head>
<body>
<span th:replace="partials/navbar :: theNav"></span>
<div class="container-fluid">
    <div th:replace="partials/title :: title"></div>
    <div class="test">

<div>
    <div class="cards col-md-4">
        <div>
            <h2 th:text="${event.title}"></h2>
            <h3 th:text="${#dates.format(event.eventDate, 'MM-DD-YYYY')}"></h3>
            <h3 th:text="${event.eventTime}"></h3>
            <h4 th:text="${event.Description}"></h4>
            <h5 class="card-hide" id="address">
                <span th:text="${event.eventLocation.streetNumber}"></span>
                <span th:text="${event.eventLocation.streetName}"></span>
                <span th:text="${event.eventLocation.city}"></span>
                <span th:text="${event.eventLocation.State}"></span>
                <span th:text="${event.eventLocation.zip}"></span>
            </h5>

            <form th:action="@{'/events/save/' + ${event.id}}" method="post">
                <div th:if="${loggedIn}">
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-primary" type="submit" value="Save Event">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class=" col-md-4 cards mapCanvas" style="background-color: white; margin-bottom:5% " onload="doIt()"></div>
</div>
    </div>
    </div>
</body>
<script
        th:src="@{https://code.jquery.com/jquery-3.1.1.js}"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmBSAkIIH8tytXlTJaKTtwj488S7eVCZs&amp;libraries=places&amp;callback=doIt"></script>
<script th:src="@{/main.js}"></script>
<script th:src="@{/wow.min.js}"></script>
<script>new WOW().init();</script>
</html>