<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="partials/header :: theHead">-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Events</title>-->

<!--</head>-->
<!--<body>-->
<!--<span th:replace="partials/navbar :: theNav"></span>-->
<!--<div class="container-fluid shift">-->
<!--<h1 align="center">Taps In Town</h1>-->

<!--<div style="padding-left:30%; padding-top: 2%">-->
    <!--&lt;!&ndash;<img style="width: 60%" align="center" src="/static/more-taps.jpg"/>&ndash;&gt;-->
    <!--<div style="width:60%; background-color: white; padding:5%; align-content: center;">-->
        <!--<div th:each="event : ${events}">-->
            <!--<h2 th:text="${event.eventLocation.name}"></h2>-->

            <!--<h4>-->
                <!--<a th:href="@{/events/{id} (id=${event.id})}" th:text="${event.title}"></a>-->
            <!--</h4>-->

            <!--<h4>Date</h4>-->
            <!--<p th:text="${event.eventDate}"></p>-->
            <!--<h4>Description</h4>-->
            <!--<p th:text="${event.description}"></p>-->
            <!--&lt;!&ndash;<h2 th:text="${event.createDate}"></h2>&ndash;&gt;-->
            <!--&lt;!&ndash;<h2 th:text="${event.modifyDate}"></h2>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="mapCanvas"></div>-->
    <!--</div>-->
<!--</div>-->
    <!--</div>-->
<!--</body>-->
<!--<script-->
        <!--th:src="@{https://code.jquery.com/jquery-3.1.1.js}"-->
        <!--integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="-->
        <!--crossorigin="anonymous"></script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmBSAkIIH8tytXlTJaKTtwj488S7eVCZs&amp;libraries=places"></script>-->
<!--<script th:src="@{/main.js}"></script>-->
<!--<script th:src="@{/wow.min.js}"></script>-->
<!--<script>new WOW().init();</script>-->
<!--</html>-->
