/*Styling for navbar*/

/*@font-face {*/
    /*font-family: "Big John";*/
    /*src: url("../static/BIGJOHN.otf");*/
/*}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 8rem;
}

h1, h2, h3, h4, h5, h6, title{
    font-family: "Big John";
}

#navbar{
    font-family:"Big John";
}
.info{
    padding-left: 10%;
}

#navigation{
    width:0;
    height: 100%;
   /* margin-top:7%;*/
    transition: .7s;
    background-color: white;
    font-family: "Big John";
    position: fixed;
    overflow-x: hidden;

}

#move{
    transition: .7s;
}

.here{
    font-size: 50px;
    cursor: pointer;
}

.nav-link {
    font-size: 1.5em;
    cursor: pointer;
    color:black;
}

#navigation a{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

a:hover{
    background-color:#ffc744;
    color: black;
    text-decoration: none;
    transition: 1.5s;
}

a:visited{
    color:black;
    text-decoration: none;

}

#contact-info{
    width:25%;
    height: 0;
    transition: .9s;
    background-color:#ffc744;
    color:black;
    font-family: "Big John";
    position: fixed;
    overflow-x: hidden;
    display: inline-block;
    justify-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;

}

#contact-info form{
    padding-top: 10%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ham-img{
    width: 10%;
    padding-top:1%;
    padding-left: 1%;
}

.hop-img{
    width: 80%;
    padding-left: 10%;
    padding-top: 20%;
    opacity: .5;
}

/*Location Profile */
body{
    background-color: grey;
}

#bodies{
    background-color: white;
    width: 60%;
    height:40%;
    margin-left: 10%;
    margin-top: 5%;
    transition: 1s;

}
#bodies h1{
    padding-top: 2%;
}

#specific-events{
    background-color: pink;
    width: 22%;
    height:60%;
    margin-left: 75%;
    margin-top: 5%;
    position: absolute;
    transition: 1s;

}

.about-dem{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5%;
   /* padding-right: 45%;*/
}
