/*iPad in portrait & landscape*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* STYLES GO HERE */}

/*iPad in landscape*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPad in portrait*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*Retina iPad in portrait & landscape*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in landscape*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in portrait*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */ }

/*iPad 1 & 2 in portrait & landscape*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){ /* STYLES GO HERE */}

/*iPad 1 & 2 in landscape*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/*iPad 1 & 2 in portrait*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */ }

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

@font-face {
    font-family: "Big John";
    src: url("BIGJOHN.otf");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 8rem;
}
h2{
    font-size: 5.5rem;
}

h1, h2, h3, h4, h5, h6, title{
    font-family: "Big John";
}

body{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("wood.jpg");
    background-size: 100%;
    font-size: 15px;
}

.container-fluid{
    margin-left: 10%;
    position: absolute;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

a:hover {
    color: #ffc744;
    transition: .5s;
    text-decoration: none;
}

/*-- #1 Navbar --*/

#navbar{
    font-family:"Big John";
}
.info{
    padding-left: 10%;
}

#navigation{
    width:0;
    height: 100%;
    /* margin-top:7%;*/
    transition: .7s;
    background-color: white;
    font-family: "Big John";
    position: fixed;
    overflow-x: hidden;
    z-index: 1;

}

#navigation a{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    cursor: pointer;

}

#navigation a:hover{
    color: white;
    transition: .5s;
    background-color: #ffc744;
    text-decoration: none;
}

.move{
    transition: .7s;
}

.here{
    font-size: 50px;
    cursor: pointer;
}

.nav-link {
    font-size: 1.5em;
    cursor: pointer;
    color:black;
}

#contact-info{
    display: inline-block;
    justify-content: flex-start;
    width:20%;
    height: 0;
    padding-left: 2%;
    padding-right: 2%;
    background-color:#ffc744;
    color:black;
    font-family: "Big John";
    transition: .9s;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
}

#contact-info form{
    padding-top: 10%;
    /*z-index: 3;*/
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.ham-img{
    width: 10%;
    padding-top:1%;
    padding-left: 1%;
    position: fixed;
    z-index: 1;
}

.hop-img{
    width: 80%;
    padding-left: 10%;
    padding-top: 20%;
    opacity: .5;
}


/*-- #2 Location Profile --*/

.bodies{
    transition: 1s;
    margin-top: 2%;
    width: 50%;
}
#specific-events{
    width: 45%;
    height:50%;
    margin-left: 5%;
    margin-top: 2%;
    /*position: absolute;*/
    transition: 1s;

}

/* #3 splash  */


/*LOCATION LIST*/

.location-card{
   /*margin-bottom:2%;*/

}
.location-card :hover{
    background-color: #ffc744;
    color: white;
    text-decoration:none;
    transition:.5s;
}

/*
Sliding Cards*/

.cards {
    border-left: solid .5rem black;
    border-right:solid 4.5rem black;
    background-color:white;
}

.row{
    margin-bottom: 2%;
}

.infoBar{
    width:10%;
    height: 40%;
    color: white;
    background-color: black;
    position: absolute;
    margin-left: 80%;
    transition: 1.5s;
    z-index: 1;
}

#infoText{
   transform:rotate(-90deg);
    margin-top: 80%;
}

.openMapBar{
    margin-left: 7%;
}

.infoBar:hover{
    background-color: #ffc744;
}

.mapCanvas{
    transition-delay: 1.5s;
    /*transition-timing-function:ease;*/
    width: 760px;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

.card-hide{
    /*transition-timing-function:ease;*/
    transition: 1.5s;
    z-index: 0;
}

/* #3 splash  */

/*#tapsTitle{
    margin: 0 auto auto auto;
}*/

#tapsTitle a:link{
    color: inherit;
    text-decoration: none;
}
#tapsTitle a:hover{
    color: #ffc744;
}
#tapsTitle a:visited{
    color: inherit;
}

#sticky-anchor{
    margin: 0 auto;
}

.stick{
    left:0;
    margin-bottom: 2rem;
    position: fixed;
  /*  left: 23.8%;*/
    top: -40px;
    text-align: center;
    z-index: 2;
}
.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    text-shadow: 2px 2px 6px black;

}


/* #4 USER PROFILE*/

#logout-button{
    margin-top: 2%;
}

#user-profile{
    transition: 1s;
}

#sticky-anchor{
    height: 1px;
    width: 1px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top:4rem;
    border:1px solid deeppink;
    background-color: aqua;
    z-index:-5;
}

#aboutUs{

    background-color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-left: solid .5rem black;
}

/* #5 LOG IN PAGE*/

.login-form{
    /*margin-left: 21%;*/
    /*margin-right: 35%;*/
}

.login-form input{
    border-bottom: .5rem solid #ffc744;
    font-size: 2rem;
    font-family: "sans-serif";
    height: 4rem;
}

.login-form button{
    width:20%;
    height: auto;
    overflow: hidden;
}

/*.login-head{*/
    /*margin-left:5% ;*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/

/* # 6 REGISTER PAGE*/
#register-profile{
    /*margin-left: 1%;*/
    transition: 1s;
}

#register-profile h1{
    margin-left: 12%;
}
/* #7 jQuery Classes*/

.open-nav{
    transition: .7s;
    width: 25%;
}

/* #8 ERROR PAGES*/

.error-shift{
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;
}

.error-shift-forbidden{
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;

}

.error-img{
    width: 100rem;
}

.error-img-barrel{
    width: 50rem;
    margin-top: 5%;
}

.test{
    position: absolute;

}
.homeCard{
    min-height: 350px;
    max-height: 350px;
    overflow-y: visible;
    margin-top: 4.4rem;
    margin-bottom: 4.4rem;

}

/*.incrementIdBottom{*/
    /*margin-top: 50px;*/
    /*max-height: 398px;*/
    /*padding:0px 0 0px 0;*/
    /*background-color: white;*/
    /*overflow: hidden*/
/*}*/

.incrementIdClick :hover{
    background-color: #ffc744
}

.incrementIdClick{
    color: #fff;
    background-color: black;


}
.h4Hover :hover{
    background-color: #ffc744;
}

.bp1{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
}
.bp2{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
}
.bp3{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
}
.bp4{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
}
.bp5{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
}
.bp6{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp6.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;
}
.bp7{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("brewing-process/bp7.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -5;

}
.bp8{
    position: relative;
    top:10%;
    height: 100px;
    width: 200px;
    clear: right;
    float: right;
    margin: 10rem 3rem 10rem 0;
    background-image: url("/static/brewing-process/bp8.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -15;
}

.textPeek{
    position: relative;
    top:-40px;
}
