<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title></head>
<body>
    <div th:fragment="brewing">
            <div class="bp1 wow fadeInRight"></div>
            <div class="bp2 wow fadeInRight"></div>
            <div class="bp3 wow fadeInRight"></div>
            <div class="bp4 wow fadeInRight"></div>
            <div class="bp5 wow fadeInRight"></div>
            <div class="bp6 wow fadeInRight"></div>
            <div class="bp7 wow fadeInRight"></div>
            <div class="bp8 wow fadeInRight"></div>

            <!--<div id="sticky-anchor" class="col-lg-2 justify-content-center"></div>-->

        <!--<div id="sticky-anchor"></div>-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->
            <!--col-lg-2 col-lg-offset-10 sm-hidden xs-hidden-->

    </div>
</body>
</html>
