<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>Navbar</title>
</head>
<body>
<div id="navbar" th:fragment="theNav">
    <div id="navigation">
        <!--<a href="#" onclick="closeNav()" class="glyphicon glyphicon-remove nav-link"></a>-->
        <a th:href="@{/}" class="nav-link">HOME</a>
        <a th:href="@{/location}" class="nav-link">BREWERIES</a>
        <!--<a href="#" class="nav-link">DESTINATIONS</a>-->
        <a th:href="@{/about-us}" class="nav-link">ABOUT</a>
        <div>
            <a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-link">LOGIN</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/me}" class="nav-link">PROFILE</a>
            <a sec:authorize="isAuthenticated()" Id="logout-btn" class="nav-link">LOGOUT</a>
            <form th:action="@{/logout}" method="post" id="logout"></form>
        </div>

        <a href="#" onclick="openContact()" class="nav-link">CONTACT</a>
    </div>
    <div id="contact-info">
        <form>
            <label for="fname">Name</label>
            <input type="text" id="fname" name="fname"/>
            <br/>
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email"/>
            <br/>
            <label for="messsage">Message</label>
            <textarea type="text" id="messsage" name="message"/>
        </form>
        <button class="btn btn-default" type="submit">Submit</button>
        <button class="btn btn-danger cancel-it" onclick="closeContact()">CANCEL</button>
        <img class="hop-img" th:src="@{iottaHops.png}"/>
    </div>
    <div class="move">
        <span class="here ham-img hvr-bob glyphicon glyphicon-menu-hamburger"></span>
    </div>
</div>
</body>
</html>