<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="">
    <div th:fragment="slidingCard">

        <div class="row col-md-12">

            <!--<div class=""></div>-->
            <!--<div  class="col-lg-8 cards col-lg-offset-2 incrementId topDiv">-->
            <div style="background-repeat: no-repeat; background-position: center; background-size: cover" th:each="pic : ${event.pics}" th:style="'background:url(' + @{'/uploads/' + ${pic.imageUrl}}" class="col-lg-8 cards col-lg-offset-2 homeCard topDiv wow fadeInUp">
                <div>
                    <div class="row">
                        <h2 id="eventHeader" class="textPeek">
                            <a th:href="@{/events/{id} (id=${event.id})}" th:text="${event.title}"
                               class="col-lg-12"></a>
                        </h2>
                        <h4>
                            <span th:text="${event.eventDate}"></span>
                            <span th:text="${event.eventTime}"></span>
                        </h4>
                        <!--<img th:each="pic : ${event.pics}"-->
                        <!--alt="Bootstrap Image Preview" class="center-block"-->
                        <!--th:src="@{'/uploads/' + ${pic.imageUrl}}"/>-->
                    </div>
                </div>
            </div>
            <div th:class="'bp'+ ${(iter.index) + 1} + ' wow fadeInRight'"></div>
        </div>
    </div>
</div>

</body>
</html>
