<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: theNav"></div>
<div class="container-fluid">
    <div th:replace="partials/title :: title"></div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 wow fadeInLeft cards aboutMe hvr-overline-from-center">
            <h2>Josh</h2>
            <img th:src="@{/josh.jpg}"/>
            <h5>Javascript, Front End Developer and Founder</h5>
            <p>"A cultivated mind is the guardian genius of democracy."</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 wow fadeInUp cards aboutMe hvr-overline-from-center">
            <h2>Matt</h2>
            <img th:src="@{/matt.jpg}"/>
            <h5>UI/UX Designer, Front End Developer and Founder</h5>
            <p>Making a beautiful web one div at a time.
            </p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 wow fadeInRight cards aboutMe hvr-overline-from-center">
            <h2>Anthony</h2>
            <img th:src="@{/anthony.jpg}"/>
            <h5>Backend Developer and Founder</h5>
            <p>I believe that any problem can be solved through the application of knowledge and unrelenting effort.
            </p>
        </div>
    </div>
</div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.1.1.js}"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script th:src="@{/wow.min.js}"></script>
<script>new WOW().init();</script>
<script th:src="@{/main.js}"></script>
</html>