<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8" />
    <title>Events</title>
</head>
<body>
<span th:replace="partials/navbar :: theNav"></span>

<div class="bodies">
    <h1>Picture</h1>
</div>
<div class="bodies">
    <h2>not picture</h2> <button class="btn btn-inverse">TICKETS</button>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=
" crossorigin="anonymous"></script>
<script th:src="@{/main.js}"></script>
</html>