<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
    <div th:replace="partials/navbar :: theNav"></div>
    <div onclick="closeNav()">
        <div class="row">
            <div id="sticky-anchor" class="center-block"></div>
            <h1 id="tapsTitle" class="text-center">Taps In Town</h1>
        </div>
        <div class="row">
            <img class="taps center-block" th:src="@{/frontPageTaps/taps-combined.png}"/>
        </div>
        <div class="row">
            <img class="taps center-block" th:src="@{/frontPageTaps/taps-combined.png}"/>
        </div>
        <div class="row">
            <img class="taps center-block" th:src="@{/frontPageTaps/taps-combined.png}"/>
        </div>
        <div class="row">
            <img class="taps center-block" th:src="@{/frontPageTaps/taps-combined.png}"/>
        </div>
        <div class="row">
            <img class="taps center-block" th:src="@{/frontPageTaps/taps-combined.png}"/>
        </div>
        <div class="row">
            <img class="taps center-block" th:src="@{/frontPageTaps/taps-combined.png}"/>
        </div>
    </div>
</body>
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('h1').click(function(){
            $('#tapsTitle').toggleClass('color');
        })
    });
</script>
<script th:src="@{/main.js}"></script>
<script th:src="@{/wow.min.js}"></script>
<script>new WOW().init();</script>
<script>
    $( document ).ready(function() {
        console.log( "ready!" );

    });

</script>
</html>