<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<div th:replace="partials/navbar :: theNav"></div>
<div class="container-fluid">
        <div id="register-profile">
    <h1>Register</h1>
<div class="login-form">
    <form th:action="@{/user/register}" method="POST" th:object="${user}">
        <div class="form-group">
            <label><h4>Name:</h4></label>
            <input class="form-control" th:field="*{name}" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></p>
        </div>
        <div class="form-group">
            <label><h4>Email Address:</h4></label>
            <input class="form-control" th:field="*{email}" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>
        </div>
        <div class="form-group">
            <label><h4>Username:</h4></label>
            <input class="form-control" th:field="*{username}" />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></p>
        </div>
        <div class="form-group">
            <label><h4>Password:</h4></label>
            <input class="form-control" th:field="*{password}" type="password" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></p>
        </div>
        <!--<div class="form-group">-->
            <!--<label><h4>Confirm Password:</h4></label>-->
            <!--<input class="form-control" type="password"/>-->
        <!--</div>-->
        <div class="form-group">
            <button class="btn btn-primary form-control" type="submit" value="Register"><h5>Register</h5></button>
        </div>
    </form>
    </div>
</div>
        </div>
</body>
<script
        th:src="@{https://code.jquery.com/jquery-3.1.1.js}"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous">
</script>
<script th:src="@{/main.js}"></script>
</html>