<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8"/>
    <title>User profile</title>
</head>
<body>
<span th:replace="partials/navbar :: theNav"></span>
<div class="container" onclick="closeNav()">
    <h1>Welcome, <span th:text="${user.username}"></span></h1>

    <div>
        <p>Welcome, Logged user: <span sec:authentication="name"></span></p>
    </div>

    <h3>Here is a list of your saved events</h3>
    <div th:each="saveEvent : ${savedEvents}">
        <h1 th:text="${saveEvent.event.title}"></h1>
        <h3 th:text="${saveEvent.event.eventDate}"></h3>
        <p th:text="${saveEvent.event.description}"></p>

    </div>

    <h5><a th:href="@{'/events'}">Go to events page</a></h5>
    <br />

    <h3>Admin options</h3>
        <h5>This will only be accessbile to admins. Authenticationt to be added</h5>
    <br />
    <button class="btn btn-success"><a th:href="@{'/location/create'}">Add a new location</a></button>
    <button class="btn btn-success"><a th:href="@{'/events/create'}">Create a new event</a></button>
</div>

<div>
    <form th:action="@{/logout}" method="post" id="logout">
        <button class="btn btn-primary" type="submit" value="logout">Log Out</button>
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script th:src="@{/main.js}"></script>
</body>
</html>