<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>User profile</title>
</head>
<body>
<div class="container">
    <h1>Welcome, <span th:text="${user.username}"></span></h1>

    <div>
        <p>Welcome, Logged user: <span sec:authentication="name"></span></p>
    </div>

    <h3>Here is a list of your saved events</h3>
    <div th:each="saveEvent : ${savedEvents}">
        <h1 th:text="${saveEvent.event.title}"></h1>
        <h3 th:text="${saveEvent.event.eventDate}"></h3>
        <p th:text="${saveEvent.event.description}"></p>

    </div>




    <a th:href="@{'/events'}">Go to events page</a>

    <br />

    <h3>Admin options</h3>

    <br />
    <a th:href="@{'/location/create'}">Add a new location</a>
    <a th:href="@{'/events/create'}">Create a new event</a>
</div>

<div>
    <form th:action="@{/logout}" method="post" id="logout">
        <input class="btn btn-primary" type="submit" value="logout" />
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
</body>
</html>