<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

    <meta charset="UTF-8" />
    <title>Locations</title>
</head>
<body>
<div class="contianer">

<h1>Edit a Location</h1>


    <form th:action="@{'/location/' + *{id} + '/edit'}" method="POST" th:object="${location}" >
        <div class="form-group">

            <label>Name of location:</label>
            <input th:field="*{name}" />
            <br />

            <label>Street Number</label>
            <input th:field="*{streetNumber}" />
            <br />

            <label>Street Name:</label>
            <input th:field="*{streetName}" />
            <br />

            <label>City:</label>
            <input th:field="*{city}" />
            <br />

            <label>State:</label>
            <input th:field="*{state}" />
            <br />

            <label>Zip:</label>
            <input th:field="*{zip}" />

            <input class="btn btn-info" type="submit" value="Register" />
        </div>
    </form>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
