<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

    <meta charset="UTF-8" />
    <title>Locations</title>
</head>
<body>

<div class="container">

<h1>This is where all the locations will come up in a list</h1>

<div th:each="location : ${location}">

    <h2>
        <p th:text="${location.name}"></p>
    </h2>

    <p th:text="${location.streetNumber}"></p>
    <p th:text="${location.streetName}"></p>
    <p th:text="${location.city}"></p>
    <p th:text="${location.state}"></p>
    <p th:text="${locations.zip}"></p>

</div>

<a th:href="@{/events}">click here to go to events page</a>

</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
