<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: theHead">
    <meta charset="UTF-8"/>
    <title>Profile</title>
</head>
<body>
<span th:replace="partials/navbar :: theNav"></span>
<div class="container-fluid">
    <div th:replace="partials/title :: title"></div>
    <div class="">
        <div th:each="location : ${location}" class="col-md-6 cards location-card" style="margin-bottom: 5%">
            <h2>
                <a th:href="@{/location/{id} (id=${location.id})}" th:text="${location.name}"></a>
            </h2>

        </div>
    </div>
    </div>
</body>
<script th:src="@{https://code.jquery.com/jquery-3.1.1.js}"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script th:src="@{/main.js}"></script>
</html>
